* {
  margin: 0px;
}
.app {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 20px;
}
.app__left {
  flex: 2;
  margin-right: 10px;
}

.app__right{
  flex: 1;
  object-fit: contain;
}

.app__left__header {
  display: flex;
  justify-content: space-between;
  margin:5px 0px;
  align-items: center;
}
.app__left__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
  .app__left {
    margin-right: 0px;
  }
}
